*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
.api-keys/
application/vendor/*
application/config/config.php
application/config/database.php
assets/sheets/sheet_details.json
assets/sheets/bvstatus.pdf